<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<title>Контакты</title>
		</head>
<body>
	<nav>
		<p><a href="/"> Главная </a>
		<a href="/cars"> Наши автомобили </a>
		<a href="/contacts"> Контакты </a></p>
	</nav>
	<hr/>

	<p><h4>Наш адрес:</h4></p>
	<p>Невский проспект дом 78</p>
	<p><h4>Контактный телефон:</h4></p>
	<p> 8-812-9787888</p>
	<footer>
		<hr/>
		<p>г. Санкт-Петербург</p>
		<p>2023 год</p>
	</footer>
</body>
</html>